@media screen and (max-width: 768px) {
    .nav-links-container {
      display: none;
    }
    
    .nav-links-container.active {
      display: flex;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }